<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><h1 href="#">CapstoneProject</h1></div>
        <div>
            <a href="#"> Dashboard </a>
            <ul>
                <ul class="navbar-nav ">
                   <div class="dropdown"><button class="dropbtn">Assosiate list
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Assosiate View </a>
                            <a href="#">Task View</a>
                        </div>
                    </div>
                  
                </ul>
            </ul>
            <ul class="navbar-nav">
                <div class="dropdown"><button class="dropbtn">profile
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/welcome/in28minutes">View/Edit Profile</a>
                        <a href="#">Change Password</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </ul>
        </div>

    </nav>
</header>